@import "../../styles/variables";
@import "../../styles/responsive";

.grid {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-gap: $gutter;

  @include respond-to("smaller") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to("medium") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to("x-large") {
    grid-template-columns: repeat(4, 1fr);
  }
}
