@import "../../styles/variables";
@import "../../styles/sizing";
@import "../../styles/elevation";

.card {
  $root: &;

  @include elevation(1);

  transition: box-shadow 250ms ease-in-out;
  background-color: $color-white;

  @for $i from 1 through 5 {
    #{$root}--elevation-#{$i} {
      @include elevation($i);
    }
  }
}
